<!DOCTYPE html>
<html>

	<head>
	  <title>CareerHoot</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	
	<body>

		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name.to_s == 'notice' ? 'info' : 'danger' %>" >
					<%= content_tag(:div, msg) %>
				</div>
			<% end %>
			<%= yield %>
		</div>
		<div class="container">
			<%= render 'layouts/footer' %>
		</div>

	</body>

</html>
